__pycache__

media/

# pycharm
.idea
*.pyc
.DS_Store
.di

# environment
venv/
*.env

# pytest
.pytest_cache

# locust
locust/


dump.sql*
dump.rdb
celerybeat-schedule
celerybeat.pid

# files with prefix test- in name
test-*.*
# directories with prefix test- in name
test-*/


# pyenv version files
*.python-version
